{
    "voxelAspect": {
        "name": "",
        "aspectType": "empty",
        "textureFaces": {
            "left": "",
            "right": "",
            "down": "",
            "up": "",
            "front": "",
            "back": ""
        }
    }
}